<template>
  <div id="footer">
    <div class="footer_box" id="left_footer_box">
        <div>
            <h3>Практические модули</h3>
            <p>
                Работа над собственными проектами: практика групповых взаимодействий, кейс-методы, эссе
            </p>
        </div>
    </div>
    <div class="footer_box" id="right_footer_box">
        <div class="footer_text">
            <h3>Итоговая аттестация</h3>
            <ul class="footer_attestation__list">
                <li class="footer_attestation__item"><span>Бизнес-проектирование (подготовка итоговой аттестационной работы, консультирование по бизнес-проектированию)</span></li>
                <li class="footer_attestation__item"><span>Защита итоговой аттестационной работы</span></li>
            </ul>
        </div>
    </div>
  </div>
</template>

<style lang="scss">
$footer_box_width: 100%;
$footer_h3_indent: 52px;

#footer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    grid-column-gap: 20px;
    max-width: 100%;
    max-width: 1140px;
    margin: 147px 0;
}

.footer_box {
    width: $footer_box_width;
    min-height: 300px;

    div {
        padding-left: 72px;
    }

    h3{
        margin-top: $footer_h3_indent;
        margin-bottom: 0;
        color: white;
        font-size: 36px;
    }
    p {
        margin-top: 24px;
        font-size: 20px;
        color: white;
        width: 80%;
        line-height: 130%;
    }
    ul {
        color: white;
        padding-left: 15px;
        padding-right: 53px;
        padding-top: 0;
        width: 80%;
        margin-top: 24px;
        li {
            padding-bottom: 10px;
            font-size: 20px;
            color: #FF3535; 
            line-height: 130%;
            span {
                text-align: justify;
                color: white;
            }
        } 
    }
}

#left_footer_box{
    background: #FF3535;
    grid-column-start: 1;
    grid-column-end: 2;
}

#right_footer_box{
    background: black;
    grid-column-start: 2;
    grid-column-end: 3;
}


@media (max-width: 991.98px){
    #footer {
        grid-template-columns: 100%;
    }
    #right_footer_box{
        background: black;
        grid-column-end: 1;
        margin-top: 23px;
    }
}

</style>