<template>
    <div>
        <div v-for="subject, id in subjects" :key="subject.id">
            <h3 class="subject_title">{{ subject.title }}</h3>
            <div class="subjects_block">
                <div class="module" id="left_module">
                    <div class="module__head">
                        <button @click="showHideElem(id), setButtonRed(showButtonId+id)" class="showModule" :id="showButtonId+id">
                            <div class="module__button__text">
                                <img src="../assets/plus.png" alt=""/>
                                <h4>1 Модуль</h4>
                            </div>
                        </button>
                    </div>
                    <transition name="fade">
                        <div class="module__list" :id="id">
                            <ul v-for="item in subject.specializedSubjects.slice(0,5)" :key="item.id">
                            <li><span>{{ item }}</span></li>
                            </ul>
                        </div>
                    </transition>
                </div>
                

                <div class="module" id="right_module">
                    <div class="module__head">
                        <button @click="showHideElem((id+5)*10)" class="showModule">
                            <div class="module__button__text">
                                <img src="../assets/plus.png"/>
                                <h4>2 Модуль</h4>
                            </div>
                        </button>
                    </div>
                    <transition name="fade">
                        <div class="module__list" :id="(id+5)*10">
                            <ul v-for="item in subject.specializedSubjects.slice(5,10)" :key="item.id">
                            <li><span>{{ item }}</span></li>
                            </ul>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
      </div>
</template>

<script>
export default {
    data: function(){
        return {
            showButtonId: "showButtonId" 
        }
    },
    computed: {
        subjects () {
            let arr = this.$store.state.data
            return arr
        }
    },
    methods: {
        showHideElem(id) {
            let elem = document.getElementById(id)
            elem.style.display = elem.style.display == 'none' ? 'block' : 'none';
        },
        setButtonRed(buttonId){
            let button = document.getElementById(buttonId);
            // console.log(button.style["background-color"])
            button.style["background-color"] = button.style["background-color"] == 'red' ? '' : 'red';
        }
    }
}
</script>

<style lang="scss" scoped>
    .subject_title {
        margin-top: 30px;
    }
    
    .module {
        margin-top: 10px;
    }

    .module__head{ 
        h4 span {
            font-size: 35px;
        }
    }

    .module__list{
        ul{
            margin-left: 15px;
            padding-left: 0;
            li {
                color: red;
                span {
                    color: black;
                }
            }
        }
    }

    .module__button__text {
        display: flex;
        justify-content: start;
        img {
            margin-top: 24px;
            width: 18px;
            height: 18px;
        }
        h4 {
            margin-left: 24px;
        }
    }

    .showModule {
        width: 393px;
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        text-align: start;
    }

    // .fade-enter-active, .fade-leave-active {
    //     transition: opacity .5s;
    // }

    // .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    //     opacity: 0;
    // }
</style>