<template>
  <div id="specializedSubjects">
    <main class="desktop_subjects" v-if="width>991.98">
      <div v-for="subject in subjects" :key="subject.id">
          <h3 class="subject_title">{{ subject.title }}</h3>
          <div class="subjects_block">
            <div class="module" id="left_module">
              <div class="module__head">
                <hr/>
                <h4>1 Модуль</h4>
              </div>
              <div class="module__list">
                <ul v-for="item in subject.specializedSubjects.slice(0,5)" :key="item.id">
                  <li><span>{{ item }}</span></li>
                </ul>
              </div>
            </div>

            <div class="module" id="right_module">
              <div class="module__head">
                <hr/>
                <h4>2 Модуль</h4>
              </div>
              <div class="module__list">
                <ul v-for="item in subject.specializedSubjects.slice(5,10)" :key="item.id">
                  <li><span>{{ item }}</span></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </main>
    <main class="mobile_subjects" v-else>
      <MobileSub/>
    </main>
  </div>
</template>

<script>

import MobileSub from './mobileSubjects'


export default {
  name: 'Subjects',
  components: {
    MobileSub
  },
  data: function(){
    return {
      width: null
    }
  },
  computed: {
      subjects () {
        let arr = this.$store.state.data
        return arr
      }
  },
  created() {
    window.addEventListener('resize', this.updateWidth);
  },
  mounted: function(){
    this.width = window.innerWidth
    this.$store.dispatch('getData');
  },
  methods: {
    updateWidth() {
      this.width = window.innerWidth;
    }
  }
}
</script>

<style lang="scss" scoped>
  .subjects_block{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 25px;
  }

  .subject_title {
    margin-top: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 120%;
  }

  #left-module{
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .module {
    margin-top: 54px;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .module__head {
    grid-column-start: 1;
    grid-column-end: 2;
    hr {
      margin: 0;
      padding: 0;
      color: #FF3535;
      width: 140px;
      size: 2px
    }

    h4 {
      margin-top: 30px;
      font-size: 32px;
      line-height: 120%;
    }
  }

  .module__list {
    margin-top: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    li {
      color: red;
      list-style-position: outside;
      span {
        color: black;
      }
    }
  }

  #right-module{
    grid-column-start: 2;
    grid-column-end: 3;
  }

@media (max-width: 991.98px){
    .subjects_block {
      display: none;
    }
}

</style>