<template>
  <div id="app">
    <div class="container">
      <Header/>
      <Subjects/>
      <Footer/>
    </div>
  </div>
</template>

<script>
import Header from './components/Header'
import Subjects from './components/specializedSubjects'
import Footer from './components/Footer'

export default {
  name: 'App',
  components: {
    Header,
    Subjects,
    Footer
  },
  // computed: {
  //     pictures () {
  //       let arr = this.$store.state.data
  //       return arr.slice(0,5)
  //     }
  // },
  // mounted: function(){
  //   this.$store.dispatch('getData');
  // }
}
</script>

<style lang="scss">

$topindent: 132px;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-align: center;
  margin-top: 71px;
}


@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;	
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    max-width: 1140px;
  }
}

</style>
